:root {
  --dark-blue: #14213d;
  --yello: #fca311;
  --gray: #e5e5e5;
}
body {
  margin: 0;
  /* display: grid; */
  /* grid-template: 20% auto/ minmax(15%, 250px) auto; */
  /* grid-template-areas: */
  /*   "nav" */
  /*   "main"; */
  font-family: sans-serif;
  background-color: var(--gray);
}

/* .sidebar { */
/*   grid-area: "side"; */
/*   background-color: var(--dark-blue); */
/*   height: 100vh; */
/* } */

.navbar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-around;

  font-weight: bolder;
  font-size: 50px;
  color: var(--yello);
  grid-area: "nav";
  box-shadow: 0 5px 10px #00000059;
  margin-bottom: 20px;
}

.main {
  grid-area: main;
  /*make the items flow horizontally and wrap*/
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  clip: rect(10px, 20px, 30px, 40px);
  padding-left: 20px;
}

.book_card {
  height: 200px;
  width: 150px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1%;
  border: 1px solid var(--gray);
  border-radius: 10px;
  box-shadow: 0 5px 10px #00000059;
  transition: transform 0.2s;
  overflow: hidden;
}

.book_card:hover {
  transform: scale(1.05);
}

button[data-open-modal] {
  background-color: var(--dark-blue);
  color: var(--yello);
  height: auto;
  width: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: scale 0.2s;
  font-weight: bold;
}

button[data-open-modal]:hover {
  background-color: var(--yello);
  color: var(--dark-blue);
  scale: 1.01;
  transform: scale(1.01);
}
